server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/simon-activiti-demo?useUnicode=true&characterEncoding=utf8
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

